<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>PriorityQueue</display-name>
    <description>
        A service to execute a list of supplied additions and removals to a priority queue.
    </description>

    <servlet>
        <servlet-name>PriorityQueue</servlet-name>
        <servlet-class>csi403.PriorityQueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PriorityQueue</servlet-name>
        <url-pattern>/PriorityQueue</url-pattern>
    </servlet-mapping>

</web-app>     
